* {
	border:0;
	margin: 0;
	padding: 0;
	font-family: 'Raleway', sans-serif;
}

.blue-background {
	background-color: #78E3FD;
}

.greenblue-background {
	background-color: #44EDDF;
}

.lightblue-background {
	background-color: #D1F5FF;
}

.lightblue-color {
	color: #D1F5FF;
}

.white-background {
	background-color: #EEF8FF;
}

.white-color {
	color: #EEF8FF;
}

.purple-color {
	color: #7D53DE;
}
/*
font-family: 'Righteous', cursive;
font-family: 'Raleway', sans-serif;
font-family: 'lobster', cursive;
*/
#top {
	width: 100%;
	display: inline-block;
	padding-top: 2%;
	padding-bottom: 2%;
	position: sticky;
}

#top p {
	float: left;
	font-family: 'Righteous', cursive;
	font-size: 4vw;
	padding-left: 5%;
}

#top ul {
	display: inline-block;
	padding: 0% 5% 0%;
	vertical-align: middle;
}

#top li {
	list-style-type: none;
	display: inline-block;
}

#top a {
	text-align: center;
	text-decoration: none;
	padding: 5px 5px 5px;
	font-size: 1.4vw;
}

#top img {
	float: right;
	width: 45px;
	height: 45px;
}

#undertop {
	width: 100%;
	height: 550px;
}

#undertop img {
	width: 100%;
	height: 550px;
	object-fit: cover;
}

#textwrapper {
	width: 100%;
	position: relative;
	top: -50%;
	transform: translateY(-50%);
}

#textwrapper h1 {
	text-align: center;
	font-size: 10vw;
	font-family: 'lobster', cursive;
	color: black;
	background-color: rgba(58, 100, 207,0.5);
}

#secondtop {
	width: 100%;
	height: 100%;
	text-align: center;
}

#box1 , #box2, #box3, #box4 {
	display: inline-block;
	background-color: #D1F5FF;
	padding: 3% 1%;
	margin: 15px;
}

#content {
	width: 100%;
	height: 100%;
	text-align: center;
	padding-top: 1%;
	padding-bottom: 25px;
}

#content h1 {
	padding: 20px;
}

#content img {
	height: 20%;
	width: 20%;
	display: block;
	margin: auto;
	border-radius: 100px;
}

#content p {
	padding: 0px 20% 0px;
	text-align: justify;
	line-height: 2;
}

#content button {
	background-color: #78E3FD; /* Green */
  	border: none;
  	color: black;
  	padding: 15px 32px;
  	text-align: center;
  	text-decoration: none;
  	display: inline-block;
  	font-size: 16px;
}

#skill {
    text-align: center;
    width: 100%;
}

#skill li {
	list-style-type: none;
	display: inline-block;
	padding: 30px 20px 30px;
}

#skill img {
	width: 100px;
	height: 100px;
}

#exp {
	text-align: center;
}

#exp h1 h2 {
	display: inline-block;
}

#contacts {
	width: 100%;
	text-align: center;
}

#contacts li {
	display: inline-block;
	padding: 20px 20px 20px;
	text-decoration: none;
}

#contacts img {
	width: 45px;
	height: 45px;
}

#footer {
	width: 100%;
	text-align: left;
	padding-top: 20px;
	padding-bottom: 20px;
}

.inline {
	display: inline;
}

#mainProjects {
    text-align: center;
    width: 100%;
}

.button-link {
    padding: 10px;
    text-align: center;
    border-radius: 5px;
    color: black;
	line-height: 25px;
	width: 3em;
	height: auto;
	background-color: #78E3FD;
	text-decoration: none;
}


