<!DOCTYPE html>
<html>
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no" />
    <title>MNmn Interfaith Map</title>
    <!-- Import My CSS -->
    <link rel="stylesheet" href="./index.css">
    <!-- ArcGis -->
    <link rel="stylesheet" href="https://js.arcgis.com/4.16/esri/themes/light/main.css">
    <!-- LEAF LET -->
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.7.1/dist/leaflet.css"
    integrity="sha512-xodZBNTC5n17Xt2atTPuE1HxjVMSvLVW9ocqUKLsCC5CXdbqCmblAshOMAS6/keqq/sMZMZ19scR4PsZChSR7A=="
    crossorigin=""/>
    <!-- JQuery -->
    <script type="application/javascript" src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <!-- Import Vue -->
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <!-- Leaf Let -->
    <script src="https://unpkg.com/leaflet@1.7.1/dist/leaflet.js"
    integrity="sha512-XQoYMqMTK8LvdxXYG3nZ448hOEQiglfqkJs1NOQV44cWnUrBc8PkAOcXy20w0vlaXaVUearIOBhiXZ5V3ynxwA=="
    crossorigin=""></script>
    <!-- Import ArcGis -->
    <script src="https://js.arcgis.com/4.16/"></script>
    <!-- Internal Script -->
    <script src="./script.js"></script>
  </head>
  <body onload="Init()">
    <!-- Map -->
    <div id="mapid"></div>
    <!-- search bar -->
    <div id="app">
      <form id="search">
        <!-- where user input text -->
        <input 
          class="search-bar"
          type="text" 
          placeholder="Search..." 
          name="search"
          v-model="input"
          v-on:keyup.enter="Search">
        <button class="button-bar" type="button" v-on:click="Search">Enter</button>
      </form>
      <form id="checkbox">
        <!-- user can select SingleFaith and other two options -->
        <input type="checkbox" value="sfc" v-model="searchTypeOptions" v-on:change="Filter">
        <label for="vehicle1"> single faith community </label>
        <input type="checkbox" value="sfo" v-model="searchTypeOptions" v-on:change="Filter">
        <label> single faith organization</label>
        <input type="checkbox" value="mo" v-model="searchTypeOptions" v-on:change="Filter">
        <label> multifaith organization</label>
      </form>
    </div>
  </body>
</html>