html,
body {
    padding: 0;
    margin: 0;
    height: 100%;
    width: 100%;
}

#mapid {
    height: 100%;
    width: 100%;
    /* Overlay */
    position:absolute;
    z-index: 1;
}

p, h1, h2, h3, h4, h5 {
    font-family: Arial, Helvetica, sans-serif;
}

input {
    font-family: Arial;
}

/* app */
#app {
    overflow-x: hidden;
}
/* search */
#search {
    position: relative;
    left: 7%;
    padding-top: 3%;
    z-index: 2;
}

.search-bar {
    height: 34px;
    width: 300px;
    box-shadow: 1px 3px 10px 1px grey;
    border-radius: 5px;
}

.button-bar {
    color: #000;
    background-color: white;
    border: 2px solid #4CAF50;
    box-shadow: 1px 3px 10px 1px grey;
    border-radius: 5px;
    margin: 0.5rem;
    height: 40px;
    width: 50px;
}

#checkbox {
    position: relative;
    left: 7%;
    width: max-content;
    padding: 0.5% 2%;
    border-radius: 5px;
    z-index: 2;
    background-color: rgba(183, 88, 227, 0.8);
}